*~
build
src/*.exe
src/vericoin
src/vericoind
src/test_vericoin
src/build.h
vericoin.files
vericoin.creator
vericoin.config
vericoin.creator.user
vericoin.includes
#vericoin.*
vericoin-qt
vericoin-qt.pro.*
vericoin-qt.pro.user
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.a
*.patch
.vericoin
#compilation and Qt preprocessor part
*.qm
Makefile
Makefile.Release
Makefile.Debug
#resources cpp
qrc_*.cpp
#qt creator
*.pro.user
#mac specific
.DS_Store

!src/leveldb/Makefile
!src/quazip/Makefile
