<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
        <dict>
                <key>RootRelativeBundlePath</key>
                <string>Contents</string>
                <key>CFBundleExecutable</key>
                <string>VeriCoin-Qt</string>
                <key>CFBundleGetInfoString</key>
                <string>$VERSION, Copyright © 2009-$YEAR The Bitcoin developers</string>
                <key>CFBundleIconFile</key>
                <string>vericoin.icns</string>
                <key>CFBundleIdentifier</key>
                <string>org.vericoin.VeriCoin-Qt</string>
                <key>CFBundlePackageType</key>
                <string>APPL</string>
                <key>CFBundleShortVersionString</key>
                <string>$VERSION</string>
                <key>CFBundleSignature</key>
                <string>????</string>
                <key>CFBundleURLTypes</key>
                <array>
                        <dict>
                                <key>CFBundleTypeRole</key>
                                <string>Editor</string>
                                <key>CFBundleURLName</key>
                                <string>org.vericoin.VeriCoinPayment</string>
                                <key>CFBundleURLSchemes</key>
                                <array>
                                        <string>vericoin</string>
                                </array>
                        </dict>
                </array>
                <key>LSAppNapIsDisabled</key>
                <string>True</string>
                <key>CFBundleVersion</key>
                <string>$VERSION</string>
                <key>LSApplicationCategoryType</key>
                <string>public.app-category.finance</string>
                <key>NSHighResolutionCapable</key>
                <true/>
        </dict>
	<dict>
		<key>BundleIsVersionChecked</key>
		<true/>
		<key>BundleOverwriteAction</key>
		<string>upgrade</string>
		<key>ChildBundles</key>
		<array>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Contents/Frameworks/QtCore.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Contents/Frameworks/QtGui.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Contents/Frameworks/QtMultimedia.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Contents/Frameworks/QtMultimediaWidgets.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Contents/Frameworks/QtNetwork.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Contents/Frameworks/QtOpenGL.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Contents/Frameworks/QtPositioning.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Contents/Frameworks/QtPrintSupport.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Contents/Frameworks/QtQml.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Contents/Frameworks/QtQuick.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Contents/Frameworks/QtSensors.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Contents/Frameworks/QtSql.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Contents/Frameworks/QtWebChannel.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Contents/Frameworks/QtWebKit.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Contents/Frameworks/QtWebKitWidgets.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>Contents/Frameworks/QtWidgets.framework</string>
			</dict>
		</array>
		<key>RootRelativeBundlePath</key>
		<string>Contents</string>
	</dict>
</array>
</plist>
